<!doctype html>
<html lang="en">
  <body>
    <meta charset="utf-8" />
    <title>Gestalt - Tests</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/dist/css/bundle.css">
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
        window.initialPins = <%- initialPins %>
        window.componentTest = '<%- componentTest %>'
    </script>
    <script defer src="http://localhost:8080/bundle.js"></script>
    <div id="react-main-mount"><%- reactOutput %></div>
    <style type="text/css">
      <%if (componentTest === 'ClassicGrid') { %>
        <%- classicGridServerStyles %>
      <% } else if (componentTest === 'FlexibleGrid') { %>
        <%- flexibleGridServerStyles %>
      <% } %>
    </style>
  </body>
</html>
